<div class="page-header">
  <h2>New Machine</h2>
  <span class="header-link">
    <%= link_to '<i class="fa fa-angle-left"></i> Back to machines'.html_safe, machines_path %>
  </span>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
</div>
